@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Web Page Intranet</title>

    <style>
        .logo {
            width: 170px;
            height: auto;
            margin-bottom: 10px;
            margin-top: 0px;
            /*margin: 0px auto;*/ /* Mengubah margin atas dan bawah menjadi 0 */
        }

        .slider-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
        }

        .slider-image {
            max-width: 100%;
            max-height: 400px; /* Sesuaikan ukuran gambar slider sesuai kebutuhan */
            margin: 0 auto;
            width: 100%; /* Mengisi lebar slider */
            height: auto; /* Menyesuaikan tinggi gambar */
        }

        body {
            overflow: hidden;
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            margin: 0;
        }

        #adobe-dc-view {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 0;
        }

        /* Tambahkan gaya untuk membuat elemen tetap pada ukuran viewport */
        .bg-image {
            /*background-image: url('/Content/assets/media/photos/Desain-WEBPAGE-opsi-2.png');*/
            /*background-color: #ffffff;*/
            background-image: url('/Content/assets/media/photos/cover1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }

        /*.hero {
            position: static;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            padding: 15px;
        }*/

        /*.hero-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }*/

        .row {
            display: flex;
            justify-content: center;
            /*align-items: center;*/
        }

        .col-xxl-4 {
            flex: 1;
            text-align: center;
        }

        .col-xxl-4 img {
            width: 50%;
            height: auto;
        }

        .col-xxl-4 p {
            margin: 10px 0;
            text-align: left;
        }

        .col-xxl-4 h4 {
            text-align: left;
        }
    </style>

    <!-- Icons -->
    <link rel="shortcut icon" href="~/Content/assets/media/favicons/favicon.png">

    <link rel="stylesheet" href="~/Content/assets/js/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/assets/js/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <link rel="stylesheet" href="~/Content/assets/css/viewer.css">

    <!-- Fonts and Codebase framework -->
    <link rel="stylesheet" id="css-main" href="~/Content/assets/css/codebase.min.css">
    <link id="css-theme" rel="stylesheet" href="~/Content/assets/css/themes/pulse.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

    <input type="text" id="web_link" value="@Session["Web_Link"]" hidden />

    <div id="page-container" class="main-content-boxed">
        <main id="main-container">
            <div class="bg-image">
                @*<div class="hero">*@
                    <div class="hero-inner">
                        <div class="content content-boxed text-center">
                            <img src="~/Content/Images/Logo KPP baru.png" alt="Logo" class="logo">
                            <div class="slider" id="sliderContainer"></div>
                            <div class="row">
                                <div class="col-xxl-4">
                                    <img src="~/Content/assets/media/photos/LOGO-IARM-Dept.png" alt="Logo" class="logo">
                                </div>
                                <div class="col-xxl-4">
                                    <h4 class="fw-bold text-black">
                                        Tentang Internal Audit Dept.
                                    </h4>
                                    <p id="contentContainer">
                                        @*<div id="adobe-dc-view"></div>*@
                                    </p>
                                </div>
                                <div class="col-xxl-4">
                                    <h4 class="fw-bold text-black">
                                        Publikasi & Layanan
                                    </h4>
                                    <p id="publikasiLayananContainer">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                @*</div>*@
            </div>
        </main>
    </div>
    <!-- Codebase JS -->
    <script src="~/Content/assets/js/codebase.app.min.js"></script>
    <script src="~/Content/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Content/assets/js/plugins/select2/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>

    <!-- Skrip JavaScript PDF.js -->
    <script src="~/Scripts/pdf.js"></script>
    <script>
        //PDFJS.workerSrc = '/Scripts/pdf.worker.js';
        pdfjsLib.GlobalWorkerOptions.workerSrc = '/Scripts/pdf.worker.js';
    </script>

    <script src="~/Scripts/Page/WPIIndex.js"></script>
</body>
</html>
