<!--@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Web Page Intranet</title>

    <style>
        .logo {
            width: 200px;
            height: auto;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .slider-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
        }

        .slider-image {
            max-width: 100%;
            max-height: 300px; /* Sesuaikan ukuran gambar slider sesuai kebutuhan */
            margin: 0 auto;
        }
    </style>

    <!-- Icons -->
<!--<link rel="shortcut icon" href="~/Content/assets/media/favicons/favicon.png">

<link rel="stylesheet" href="~/Content/assets/js/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/Content/assets/js/plugins/sweetalert2/sweetalert2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">-->
<!-- Fonts and Codebase framework -->
<!--<link rel="stylesheet" id="css-main" href="~/Content/assets/css/codebase.min.css">
    <link id="css-theme" rel="stylesheet" href="~/Content/assets/css/themes/pulse.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Content/assets/js/lib/jquery.min.js"></script>

</head>
<body>
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <input type="text" id="web_link" value="@Session["Web_Link"]" hidden />

    <div id="page-container" class="main-content-boxed">-->
<!-- Main Container -->
<!--<main id="main-container">-->
<!-- Page Content -->
<!--<div class="bg-image" style="background-image: url('/Content/assets/media/photos/Desain-WEBPAGE-opsi-2.png');">
    <div class="hero bg-primary-dark-op">
        <div class="hero-inner">
            <div class="content content-full text-center">
                <img src="~/Content/Images/LogoKPP.png" alt="Logo" class="logo"-->
@*alt="Small Image" class="small-image"*@
<!-->
<!--<div class="slider">
    <div class="slider-item">
            <img src="~/Content/assets/media/photos/photo99.jpg" alt="Image 1" class="slider-image">
        </div>
        <div class="slider-item">
            <img src="~/Content/assets/media/photos/photo2.jpg" alt="Image 2" class="slider-image">
        </div>
        <div class="slider-item">
            <img src="~/Content/assets/media/photos/photo15.jpg" alt="Image 3" class="slider-image">
        </div>-->
<!-- Add more slider items with additional images -->
<!--</div>-->
<!--<div class="js-slider slick-nav-black slick-nav-hover" data-dots="true" data-arrows="true" data-slides-to-show="3" data-center-mode="true" data-autoplay="true" data-autoplay-speed="3000">-->
<!--@*<div>
    <img class="img-fluid" src="~/Content/assets/media/photos/photo27.jpg" alt="">
</div>
<div>
    <img class="img-fluid" src="~/Content/assets/media/photos/photo28.jpg" alt="">
</div>
<div>
    <img class="img-fluid" src="~/Content/assets/media/photos/photo29.jpg" alt="">
</div>
<div>
    <img class="img-fluid" src="~/Content/assets/media/photos/photo25.jpg" alt="">
</div>
<div>
    <img class="img-fluid" src="~/Content/assets/media/photos/photo26.jpg" alt="">
</div>*@-->
<!--<!--</div>-->
<!--<div class="slider" id="sliderContainer"></div>
                <h1 class="display-4 fw-bold text-white mb-2">
                    Codebase
                </h1>
                <h2 class="fw-normal text-white-75 mb-5">
                    It’s Time to Create Your Next Amazing Project
                </h2>
                <a class="btn btn-primary rounded-pill px-4 py-2" href="be_layout_hero_image.html">
                    <i class="si si-energy opacity-50 me-1"></i> Get Started
                </a>
            </div>
        </div>
    </div>
</div>-->
<!-- END Page Content -->
<!--</main>-->
<!-- END Main Container -->
<!--</div>-->
<!-- END Page Container -->
<!--
    Codebase JS

    Core libraries and functionality
    webpack is putting everything together at ~/Content/assets/_js/main/app.js
-->
<!--<script src="~/Content/assets/js/codebase.app.min.js"></script>
<script src="~/Content/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>

<script src="~/Content/assets/js/plugins/select2/js/select2.full.min.js"></script>-->
@*<script src="~/Content/assets/js/plugins/slick-carousel/slick.min.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>*@

<!-- jQuery (required for Slick Slider plugin) -->
<!--<script src="~/Content/assets/js/lib/jquery.min.js"></script>-->
<!-- Page JS Plugins -->
<!--<script src="~/Content/assets/js/plugins/slick-carousel/slick.min.js"></script>
    <script src="~/Scripts/Page/WPIIndex.js"></script>
</body>
</html>-->


@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Web Page Intranet</title>

    <style>
        .logo {
            width: 200px;
            height: auto;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        
        .slider-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
        }

        .slider-image {
            max-width: 100%;
            max-height: 300px; /* Sesuaikan ukuran gambar slider sesuai kebutuhan */
            margin: 0 auto;
            width: 100%; /* Mengisi lebar slider */
            /*height: auto;*/ /* Menyesuaikan tinggi gambar */
        }
        .col-xxl-4 p {
            margin: 0px; /* Atur jarak atas dan bawah sesuai kebutuhan Anda */
            text-align: left; /* Rata kiri */
        }
        .col-xxl-4 h4 {
            text-align: left; /* Rata kiri */
        }
        body {
            overflow: hidden;
        }
    </style>

    <!-- Icons -->
    <link rel="shortcut icon" href="~/Content/assets/media/favicons/favicon.png">

    <link rel="stylesheet" href="~/Content/assets/js/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/assets/js/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <!-- Fonts and Codebase framework -->
    <link rel="stylesheet" id="css-main" href="~/Content/assets/css/codebase.min.css">
    <link id="css-theme" rel="stylesheet" href="~/Content/assets/css/themes/pulse.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <input type="text" id="web_link" value="@Session["Web_Link"]" hidden />

    <div id="page-container" class="main-content-boxed">

        <!-- Main Container -->
        <main id="main-container">
            <!-- Page Content -->
            <div class="bg-image" style="background-image: url('/Content/assets/media/photos/Desain-WEBPAGE-opsi-2.png');">
                <div class="hero bg-primary-dark-op">
                    <div class="hero-inner">
                        <div class="content content-full text-center">
                            <img src="~/Content/Images/LogoKPP.png" alt="Logo" class="logo" @*alt="Small Image" class="small-image"*@>
                            <div class="slider" id="sliderContainer"></div>
                            <div class="row">
                                <div class="col-xxl-4">
                                    <img src="~/Content/assets/media/photos/LOGO-IARM-Dept.png" alt="Logo" class="logo" @*alt="Small Image" class="small-image"*@>
                                </div>
                                <div class="col-xxl-4">
                                    <h4 class="fw-bold text-white">
                                        Tentang Internal Audit Dept.
                                    </h4>
                                    <p id="contentContainer">
                                        @*<a class="link-fx text-white" href="path content">
                                            nama content
                                        </a>
                                        <br />
                                        <a class="link-fx text-white" href="javascript:void(0)">
                                            Struktur Organisasi
                                        </a>
                                        <br />
                                        <a class="link-fx text-white" href="javascript:void(0)">
                                            Rencana Stratejik
                                        </a>*@
                                    </p>
                                </div>
                                <div class="col-xxl-4">
                                    <h4 class="fw-bold text-white">
                                        Publikasi & Layanan
                                    </h4>
                                    <p id="publikasiLayananContainer">
                                        @*<a class="link-fx text-white" href="javascript:void(0)">
                                            Sistem Pengaduan Pelanggaran (WBS)
                                        </a>
                                        <br />
                                        <a class="link-fx text-white" href="javascript:void(0)">
                                            Sistem Pelaporan Gratifikasi
                                        </a>
                                        <br />
                                        <a class="link-fx text-white" href="javascript:void(0)">
                                            Kebijakan Manajemen Resiko
                                        </a>
                                        <br />
                                        <a class="link-fx text-white" href="javascript:void(0)">
                                            Informasi Anti Fraud
                                        </a>
                                        <br />
                                        <a class="link-fx text-white" href="javascript:void(0)">
                                            Berita
                                        </a>*@
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <!-- Codebase JS -->
    <script src="~/Content/assets/js/codebase.app.min.js"></script>
    <script src="~/Content/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Content/assets/js/plugins/select2/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script src="~/Scripts/Page/WPIIndex.js"></script>
</body>
</html>

