
@{
    ViewBag.Title = "Home";
}

@*<h2>Dashboard</h2>*@
<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="content">
        <!-- Image Default -->
        <div class="row items-push">
            <div class="col-md-4 animated fadeIn">
                <div class="options-container">
                    <img class="img-fluid options-item" src="~/Content/assets/media/photos/photo1.jpg" alt="" hidden>
                    <div class="options-overlay bg-white-90">
                        <div class="options-overlay-content">
                            <h3 class="h4 text-black-75 mb-1">Image</h3>
                            <h4 class="h6 text-black-50 mb-3">More Details</h4>
                            <a class="btn btn-sm btn-primary" href="javascript:void(0)">
                                <i class="fa fa-pencil-alt opacity-50 me-1"></i> Edit
                            </a>
                            <a class="btn btn-sm btn-danger" href="javascript:void(0)">
                                <i class="fa fa-times opacity-50 me-1"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animated fadeIn">
                <div class="options-container">
                    <img class="img-fluid options-item" src="~/Content/assets/media/photos/LOGO-IARM-Dept.png" alt="">
                    @*<div class="options-overlay bg-white-90">
                        <div class="options-overlay-content">
                            <h3 class="h4 text-black-75 mb-1">Image</h3>
                            <h4 class="h6 text-black-50 mb-3">More Details</h4>
                            <a class="btn btn-sm btn-primary" href="javascript:void(0)">
                                <i class="fa fa-pencil-alt opacity-50 me-1"></i> Edit
                            </a>
                            <a class="btn btn-sm btn-danger" href="javascript:void(0)">
                                <i class="fa fa-times opacity-50 me-1"></i> Delete
                            </a>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-md-4 animated fadeIn">
                <div class="options-container">
                    <img class="img-fluid options-item" src="~/Content/assets/media/photos/photo1.jpg" alt="" hidden>
                    <div class="options-overlay bg-primary-dark-op">
                        <div class="options-overlay-content">
                            <h3 class="h4 text-white mb-1">Image</h3>
                            <h4 class="h6 text-white-75 mb-3">More Details</h4>
                            <a class="btn btn-sm btn-alt-success" href="javascript:void(0)">
                                <i class="fa fa-thumbs-up opacity-50 me-1"></i> Like
                            </a>
                            <a class="btn btn-sm btn-alt-info" href="javascript:void(0)">
                                <i class="fa fa-save opacity-50 me-1"></i> Save
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Image Default -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
<div class="py-3 text-center">
    <h2 class="fw-bold mb-2">
        Internal Audit Departement
    </h2>
    <h4 class="h5 text-muted">
        Prepare by Henrikus Sigit Harmono
    </h4>
    <a class="btn btn-alt-primary px-4 py-3" href="/wpi/index">
        <i class="fa fa-paper-plane opacity-50 me-1"></i> Go to Web Page Intranet
    </a>
</div>
@*<div class="block block-rounded">
    <div class="block-content block-content-full">
        <div class="py-3 text-center">
            <h2 class="fw-bold mb-2">
                Internal Audit Departement
            </h2>
            <h4 class="h5 text-muted">
                Prepare by Henrikus Sigit Harmono
            </h4>
            <a class="btn btn-alt-primary px-4 py-3" href="javascript:void(0)">
                <i class="fa fa-paper-plane opacity-50 me-1"></i> Go to Web Page Intranet
            </a>
        </div>
    </div>
</div>*@